h1{
    padding-left: 350px;
}
marquee{
    color: red;
    font-size: 20px;
    padding-top: 20px;
}
.row{
    margin-top: 50px;
    margin-left: 35px;
}
.out{
    height: 300px;
    width: 85%;
    border: 2px solid pink;
   margin-top: 60px;
   margin-left: 80px;
   animation: pic 2s steps(10) 0.2s infinite reverse;
}

@keyframes pic {
    0% {
        border-color: pink;
        color: red;
    }
    25% {
        border-color: orange;
        color: orange;
    }
    50% {
        border-color: yellow;
        color: yellow;
    }
    75% {
        border-color: blue;
        color: blue;
    }
    100% {
        border-color: red;
        color: red;
    }
}
.in{
    height:250px;
    width: 550px;
    margin-left: 280px;
   margin-top: 22px;
}